<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
</head>
<body>
	<h1>Category: {{category}}</h1>
	<ul>
	{{#listings}}
		<li><a href="/view-listing/{{id}}">{{title}}</a></li>
	{{/listings}}
	</ul>
	<a href="/">Home</a>
</body>
</html>