<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1>{{title}}</h1>
	<img src="{{image}}" class="listingPic" />
	<p>{{description}}</p>
	<a href="/category/{{slug}}">Back to {{category}}</a>
</body>
</html>